.intake-form {
  width: 70%;
}

.test-subject-id {
  text-decoration: underline;
  margin-top: 40px;
  text-align: center;
}

.intake-form-label {
  color: #3F4F66;
  font-family: "FaktSoftPro";
}

.sqwak-labs-logo {
  margin-top: 20px;
}

.gender-input {
  margin-top: 20px;
}

.radio-buttons {
  margin-top: 20px;
}

.radio-buttons__button {
  border-width: 1px;
  border-color: #3F4F67;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: #3F4F67;
}

.radio-buttons__button.selected {
  background-color: rgba(84, 199, 252, .25);
}

.big-button {
    background-color: #54C7FC;
    font-size: 52;
    color: white;
    padding: 10px 50px;
    horizontal-align: center;
    border-width: 1px;
    border-radius: 3px;
    border-color: #3F4F67;
    font-family: "Bungee-Regular";
    font-size: 45px;
}

/* LABEL INPUT */
.label-input {
  margin-top: 20px;
  border-width: 1px;
  border-color: none none #3F4F67 none;
}

/* ATTEMPTS INPUT */
.attempts-input {
  margin-top: 40px;
}

/* START INPUT */
.start-input {
  margin-top: 40px;
}
