.intake-form {
  width: 70%;
}

.test-subject-id {
  text-decoration: underline;
  margin-top: 40px;
  text-align: center;
}

.intake-form-label {
  color: #3F4F66;
  font-family: "FaktSoftPro";
}

.sqwak-labs-logo {
  margin-top: 20px;
}

.gender-input {
  margin-top: 20px;
}

.radio-buttons {
  margin-top: 20px;
}

.radio-buttons__button {
  border-width: 1px;
  border-color: #3F4F67;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: #3F4F67;
}

.radio-buttons__button.selected {
  background-color: rgba(84, 199, 252, .25);
}

.big-button {
    background-color: #42CDF9;
    font-size: 52;
    color: white;
    padding: 10px 50px;
    horizontal-align: center;
}


